.recipeboard{
  margin-top: 5%;
  border-style: groove;
  border-color: rgb(184, 82,77);
  border-width: 10px;

  background-color: rgba(40, 40, 40, .9);
}

.recipeboard h1{
  font-family: Writing, Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  font-size: 600%;
}

@font-face {
  font-family: Writing;
  src: url("/images/writing.otf");
}
