.favrest {
  min-width: 200px;
  max-width: 250px;
  min-height: 250px;
}

.favrest p {
  font-size: 20px;
  color: black;
  font-family: 'Amatic SC', cursive;


}

.favlist {
  display: inline-block;
}

.favrest {
  margin: 3%;
  padding: 5%;
  padding-top: 20%;
  padding-right: 20%;
  background-image: url("/images/postit.png");
  background-size: cover;
}

.favrest a{
  color: black;
  text-decoration: underline;
}
